# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages used in Data Science
- Practice basic Python commands
- List common libraries used in Data Science
- Practice creating a basic Jupyter Notebook

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

#### Some of the most commonly used Libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| MySQL |
| Apache Kafka |
| TensorFlow |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Karen Zrebiec